@using RealEstates.Services.Models.Districts;
@model IEnumerable<DistrictViewDto>

<div class="text-center">
    <h1>Welcome to Real Estates BG!</h1>
</div>
<div>
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th>District</th>
            <th>Avrg. Price</th>
            <th>Min Price</th>
            <th>Max Price</th>
            <th>Properties</th>
        </tr>
        @foreach (DistrictViewDto district in this.Model
                    .Where(m => m.AveragePrice != 0 && 
                                m.MinPrice != 0 && 
                                m.MaxPrice != 0 && 
                                m.PropertiesCount >= 0))
        {
            <tr>
                <th>@district.Name</th>
                <th>@district.AveragePrice.ToString("00.00")€</th>
                <th>@district.MinPrice€</th>
                <th>@district.MaxPrice€</th>
                <th>@district.PropertiesCount</th>
            </tr>
        }
    </table>
</div>