@using RealEstates.Services.Models.Properties
@model IEnumerable<PropertyViewDto>

<div>
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th>District</th>
            <th>BuildingType</th>
            <th>PropertyType</th>
            <th>Price</th>
            <th>Year</th>
            <th>Size</th>
            <th>Floor</th>
        </tr>
        @foreach (PropertyViewDto property in this.Model)
        {
            <tr>
                <td>@property.District</td>
                <td>@property.BuildingType</td>
                <td>@property.PropertyType</td>
                <td>@property.Price€</td>
                <td>
                    @if (property.Year != 0)
                   {
                       @property.Year@:г.
                   }
                </td>
                <td>@property.Size</td>
                <td>
                    @if (@property.Floor != "0/0")
                   {
                       @property.Floor
                   }
                </td>
            </tr>
        }
    </table>
</div>